Repository venturix/decisoniq-v6pyvf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @senior-backend-engineers, @ml-team, @data-scientists, @senior-ml-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @senior-security-engineers, @devops-team, @platform-engineers, @senior-infrastructure-engineers, @ci-cd-engineers, @qa-team, @test-automation-engineers, @senior-qa-engineers, @integration-team, @api-team, @senior-api-engineers, @tech-writers, @compliance-team

Add public-samples/decisoniq-v6pyvf/src/backend/tests/unit/core/__init__.py
  src/backend/tests/unit/core/__init__.py
Owners: @qa-team, @test-automation-engineers, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/tests/unit/core/test_auth.py
  src/backend/tests/unit/core/test_auth.py
Owners: @qa-team, @test-automation-engineers, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/tests/unit/core/test_security.py
  src/backend/tests/unit/core/test_security.py
Owners: @qa-team, @test-automation-engineers, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/tests/unit/ml/__init__.py
  src/backend/tests/unit/ml/__init__.py
Owners: @qa-team, @test-automation-engineers, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/tests/unit/ml/test_models.py
  src/backend/tests/unit/ml/test_models.py
Owners: @qa-team, @test-automation-engineers, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/tests/unit/services/__init__.py
  src/backend/tests/unit/services/__init__.py
Owners: @qa-team, @test-automation-engineers, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/tests/unit/services/test_risk.py
  src/backend/tests/unit/services/test_risk.py
Owners: @qa-team, @test-automation-engineers, @backend-team

Add public-samples/decisoniq-v6pyvf/src/test/.env.example
  src/test/.env.example
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/.gitignore
  src/test/.gitignore
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/README.md
  src/test/README.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/src/test/docker-compose.test.yml
  src/test/docker-compose.test.yml
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/k6.config.ts
  src/test/k6.config.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/package.json
  src/test/package.json
Owners: @devops-team, @security-team, @frontend-team

Add public-samples/decisoniq-v6pyvf/src/test/playwright.config.ts
  src/test/playwright.config.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/scripts/cleanup-test-data.sh
  src/test/scripts/cleanup-test-data.sh
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/scripts/generate-test-data.sh
  src/test/scripts/generate-test-data.sh
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/scripts/run-e2e-tests.sh
  src/test/scripts/run-e2e-tests.sh
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/scripts/run-performance-tests.sh
  src/test/scripts/run-performance-tests.sh
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/scripts/run-security-tests.sh
  src/test/scripts/run-security-tests.sh
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/scripts/setup-test-env.sh
  src/test/scripts/setup-test-env.sh
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/api/auth.spec.ts
  src/test/src/api/auth.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/api/customers.spec.ts
  src/test/src/api/customers.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/api/health.spec.ts
  src/test/src/api/health.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/api/integrations.spec.ts
  src/test/src/api/integrations.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/api/metrics.spec.ts
  src/test/src/api/metrics.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/api/ml.spec.ts
  src/test/src/api/ml.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/api/playbooks.spec.ts
  src/test/src/api/playbooks.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/api/risk.spec.ts
  src/test/src/api/risk.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/config/performance-thresholds.ts
  src/test/src/config/performance-thresholds.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/config/security-rules.ts
  src/test/src/config/security-rules.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/config/test-data.ts
  src/test/src/config/test-data.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/config/test-environment.ts
  src/test/src/config/test-environment.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/analytics/dashboard.spec.ts
  src/test/src/e2e/analytics/dashboard.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/analytics/reports.spec.ts
  src/test/src/e2e/analytics/reports.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/auth/login.spec.ts
  src/test/src/e2e/auth/login.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/auth/sso.spec.ts
  src/test/src/e2e/auth/sso.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/customers/health-score.spec.ts
  src/test/src/e2e/customers/health-score.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/customers/intervention.spec.ts
  src/test/src/e2e/customers/intervention.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for the Customer Success AI Platform
# Version: v1
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings/about-code-owners

# Default owners for everything in the repo
# Requires project lead review for unspecified files
*       @project-leads

# Backend service ownership
# Requires backend team and senior engineer review
src/backend/                @backend-team @senior-backend-engineers
src/backend/src/           @backend-team @senior-backend-engineers
src/backend/tests/         @backend-team @senior-backend-engineers

# Machine learning components
# Requires ML team, data scientists and senior ML engineer review
src/backend/src/ml/                @ml-team @data-scientists @senior-ml-engineers
src/backend/src/models/risk.py     @ml-team @data-scientists @senior-ml-engineers
src/backend/src/predictive/        @ml-team @data-scientists @senior-ml-engineers
src/backend/src/features/          @ml-team @data-scientists @senior-ml-engineers

# Frontend application
# Requires frontend team and senior frontend engineer review
src/web/        @frontend-team @senior-frontend-engineers
src/web/src/    @frontend-team @senior-frontend-engineers
src/web/tests/  @frontend-team @senior-frontend-engineers

# Security-critical components
# Requires mandatory security team review
src/backend/src/config/security.py     @security-team @senior-security-engineers @backend-team
src/backend/src/core/security.py       @security-team @senior-security-engineers @backend-team
src/backend/src/api/security.py        @security-team @senior-security-engineers @backend-team
src/backend/src/auth/                  @security-team @senior-security-engineers @backend-team
src/backend/src/integrations/security/ @security-team @senior-security-engineers @backend-team

# Infrastructure and deployment
# Requires DevOps and platform engineer review
infrastructure/           @devops-team @platform-engineers @senior-infrastructure-engineers
deployment/              @devops-team @platform-engineers @senior-infrastructure-engineers
docker/                  @devops-team @platform-engineers
kubernetes/             @devops-team @platform-engineers @senior-infrastructure-engineers

# CI/CD workflows
# Requires DevOps and security team review
.github/workflows/       @devops-team @ci-cd-engineers @security-team
.github/actions/        @devops-team @ci-cd-engineers @security-team

# Test suites
# Requires QA and test automation engineer review
src/test/              @qa-team @test-automation-engineers @senior-qa-engineers
src/backend/tests/     @qa-team @test-automation-engineers @backend-team

# Third-party integrations
# Requires integration team and security review
src/backend/src/integrations/        @integration-team @backend-team @security-team
src/backend/src/connectors/         @integration-team @backend-team @security-team

# API endpoints
# Requires API team and senior engineer review
src/backend/src/api/        @api-team @backend-team @senior-api-engineers
src/backend/src/routes/    @api-team @backend-team @senior-api-engineers

# Documentation
# Requires technical writer and relevant team review
docs/                    @tech-writers @project-leads
*.md                    @tech-writers @project-leads

# Build and dependency files
# Requires DevOps and security review
pyproject.toml          @devops-team @security-team @backend-team
poetry.lock            @devops-team @security-team @backend-team
package.json           @devops-team @security-team @frontend-team
yarn.lock              @devops-team @security-team @frontend-team

# Security and compliance files
# Requires security team review
SECURITY.md            @security-team @project-leads
security/              @security-team @senior-security-engineers
compliance/           @security-team @compliance-team
