Repository venturix/decisoniq-v6pyvf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @senior-backend-engineers, @ml-team, @data-scientists, @senior-ml-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @senior-security-engineers, @devops-team, @platform-engineers, @senior-infrastructure-engineers, @ci-cd-engineers, @qa-team, @test-automation-engineers, @senior-qa-engineers, @integration-team, @api-team, @senior-api-engineers, @tech-writers, @compliance-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for the Customer Success AI Platform
# Version: v1
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings/about-code-owners

# Default owners for everything in the repo
# Requires project lead review for unspecified files
*       @project-leads

# Backend service ownership
# Requires backend team and senior engineer review
src/backend/                @backend-team @senior-backend-engineers
src/backend/src/           @backend-team @senior-backend-engineers
src/backend/tests/         @backend-team @senior-backend-engineers

# Machine learning components
# Requires ML team, data scientists and senior ML engineer review
src/backend/src/ml/                @ml-team @data-scientists @senior-ml-engineers
src/backend/src/models/risk.py     @ml-team @data-scientists @senior-ml-engineers
src/backend/src/predictive/        @ml-team @data-scientists @senior-ml-engineers
src/backend/src/features/          @ml-team @data-scientists @senior-ml-engineers

# Frontend application
# Requires frontend team and senior frontend engineer review
src/web/        @frontend-team @senior-frontend-engineers
src/web/src/    @frontend-team @senior-frontend-engineers
src/web/tests/  @frontend-team @senior-frontend-engineers

# Security-critical components
# Requires mandatory security team review
src/backend/src/config/security.py     @security-team @senior-security-engineers @backend-team
src/backend/src/core/security.py       @security-team @senior-security-engineers @backend-team
src/backend/src/api/security.py        @security-team @senior-security-engineers @backend-team
src/backend/src/auth/                  @security-team @senior-security-engineers @backend-team
src/backend/src/integrations/security/ @security-team @senior-security-engineers @backend-team

# Infrastructure and deployment
# Requires DevOps and platform engineer review
infrastructure/           @devops-team @platform-engineers @senior-infrastructure-engineers
deployment/              @devops-team @platform-engineers @senior-infrastructure-engineers
docker/                  @devops-team @platform-engineers
kubernetes/             @devops-team @platform-engineers @senior-infrastructure-engineers

# CI/CD workflows
# Requires DevOps and security team review
.github/workflows/       @devops-team @ci-cd-engineers @security-team
.github/actions/        @devops-team @ci-cd-engineers @security-team

# Test suites
# Requires QA and test automation engineer review
src/test/              @qa-team @test-automation-engineers @senior-qa-engineers
src/backend/tests/     @qa-team @test-automation-engineers @backend-team

# Third-party integrations
# Requires integration team and security review
src/backend/src/integrations/        @integration-team @backend-team @security-team
src/backend/src/connectors/         @integration-team @backend-team @security-team

# API endpoints
# Requires API team and senior engineer review
src/backend/src/api/        @api-team @backend-team @senior-api-engineers
src/backend/src/routes/    @api-team @backend-team @senior-api-engineers

# Documentation
# Requires technical writer and relevant team review
docs/                    @tech-writers @project-leads
*.md                    @tech-writers @project-leads

# Build and dependency files
# Requires DevOps and security review
pyproject.toml          @devops-team @security-team @backend-team
poetry.lock            @devops-team @security-team @backend-team
package.json           @devops-team @security-team @frontend-team
yarn.lock              @devops-team @security-team @frontend-team

# Security and compliance files
# Requires security team review
SECURITY.md            @security-team @project-leads
security/              @security-team @senior-security-engineers
compliance/           @security-team @compliance-team

Add public-samples/decisoniq-v6pyvf/src/test/src/utils/test-helpers.ts
  src/test/src/utils/test-helpers.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/README.md
  src/web/README.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/package.json
  src/web/package.json
Owners: @devops-team, @security-team, @frontend-team

Add public-samples/decisoniq-v6pyvf/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/assets/styles/global.css
  src/web/src/assets/styles/global.css
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/assets/styles/tailwind.css
  src/web/src/assets/styles/tailwind.css
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/assets/styles/themes/dark.ts
  src/web/src/assets/styles/themes/dark.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/assets/styles/themes/light.ts
  src/web/src/assets/styles/themes/light.ts
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/analytics/ChartContainer.tsx
  src/web/src/components/analytics/ChartContainer.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/analytics/ChurnRiskChart.tsx
  src/web/src/components/analytics/ChurnRiskChart.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/analytics/CustomerHealthChart.tsx
  src/web/src/components/analytics/CustomerHealthChart.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/analytics/MetricsCard.tsx
  src/web/src/components/analytics/MetricsCard.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/analytics/RevenueImpactChart.tsx
  src/web/src/components/analytics/RevenueImpactChart.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/auth/ProtectedRoute.tsx
  src/web/src/components/auth/ProtectedRoute.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/auth/SSOCallback.tsx
  src/web/src/components/auth/SSOCallback.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/common/Avatar.tsx
  src/web/src/components/common/Avatar.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/common/Badge.tsx
  src/web/src/components/common/Badge.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/common/Dropdown.tsx
  src/web/src/components/common/Dropdown.tsx
Owners: @frontend-team, @senior-frontend-engineers

Add public-samples/decisoniq-v6pyvf/src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/ErrorBoundary.tsx
Owners: @frontend-team, @senior-frontend-engineers
