Repository venturix/decisoniq-v6pyvf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @senior-backend-engineers, @ml-team, @data-scientists, @senior-ml-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @senior-security-engineers, @devops-team, @platform-engineers, @senior-infrastructure-engineers, @ci-cd-engineers, @qa-team, @test-automation-engineers, @senior-qa-engineers, @integration-team, @api-team, @senior-api-engineers, @tech-writers, @compliance-team

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/customers/risk-assessment.spec.ts
  src/test/src/e2e/customers/risk-assessment.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/integrations/billing.spec.ts
  src/test/src/e2e/integrations/billing.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/integrations/calendar.spec.ts
  src/test/src/e2e/integrations/calendar.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/integrations/crm.spec.ts
  src/test/src/e2e/integrations/crm.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/ml/predictions.spec.ts
  src/test/src/e2e/ml/predictions.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/playbooks/creation.spec.ts
  src/test/src/e2e/playbooks/creation.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/e2e/playbooks/execution.spec.ts
  src/test/src/e2e/playbooks/execution.spec.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/mocks/auth.ts
  src/test/src/mocks/auth.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/mocks/customers.ts
  src/test/src/mocks/customers.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/mocks/integrations.ts
  src/test/src/mocks/integrations.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/mocks/metrics.ts
  src/test/src/mocks/metrics.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/mocks/ml.ts
  src/test/src/mocks/ml.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/mocks/playbooks.ts
  src/test/src/mocks/playbooks.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/mocks/risk.ts
  src/test/src/mocks/risk.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/performance/scenarios/api-endpoints.ts
  src/test/src/performance/scenarios/api-endpoints.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/performance/scenarios/auth.ts
  src/test/src/performance/scenarios/auth.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/performance/scenarios/customer-load.ts
  src/test/src/performance/scenarios/customer-load.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/performance/scenarios/data-processing.ts
  src/test/src/performance/scenarios/data-processing.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/performance/scenarios/ml-predictions.ts
  src/test/src/performance/scenarios/ml-predictions.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/performance/scenarios/playbook-execution.ts
  src/test/src/performance/scenarios/playbook-execution.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/reports/html-reporter.ts
  src/test/src/reports/html-reporter.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/reports/junit-reporter.ts
  src/test/src/reports/junit-reporter.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/reports/performance-reporter.ts
  src/test/src/reports/performance-reporter.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/reports/security-reporter.ts
  src/test/src/reports/security-reporter.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/security/compliance/gdpr.spec.ts
  src/test/src/security/compliance/gdpr.spec.ts
Owners: @security-team, @compliance-team

Add public-samples/decisoniq-v6pyvf/src/test/src/security/compliance/soc2.spec.ts
  src/test/src/security/compliance/soc2.spec.ts
Owners: @security-team, @compliance-team

Add public-samples/decisoniq-v6pyvf/src/test/src/security/penetration/api.spec.ts
  src/test/src/security/penetration/api.spec.ts
Owners: @security-team, @senior-security-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/security/penetration/auth.spec.ts
  src/test/src/security/penetration/auth.spec.ts
Owners: @security-team, @senior-security-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/security/penetration/data.spec.ts
  src/test/src/security/penetration/data.spec.ts
Owners: @security-team, @senior-security-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/security/vulnerability/code.spec.ts
  src/test/src/security/vulnerability/code.spec.ts
Owners: @security-team, @senior-security-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/security/vulnerability/dependencies.spec.ts
  src/test/src/security/vulnerability/dependencies.spec.ts
Owners: @security-team, @senior-security-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/types/customer.ts
  src/test/src/types/customer.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/types/metrics.ts
  src/test/src/types/metrics.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/types/playbook.ts
  src/test/src/types/playbook.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/types/risk.ts
  src/test/src/types/risk.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/types/test.ts
  src/test/src/types/test.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/utils/api-client.ts
  src/test/src/utils/api-client.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/utils/mock-services.ts
  src/test/src/utils/mock-services.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/utils/test-data-generator.ts
  src/test/src/utils/test-data-generator.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

Add public-samples/decisoniq-v6pyvf/src/test/src/utils/test-fixtures.ts
  src/test/src/utils/test-fixtures.ts
Owners: @qa-team, @test-automation-engineers, @senior-qa-engineers

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for the Customer Success AI Platform
# Version: v1
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings/about-code-owners

# Default owners for everything in the repo
# Requires project lead review for unspecified files
*       @project-leads

# Backend service ownership
# Requires backend team and senior engineer review
src/backend/                @backend-team @senior-backend-engineers
src/backend/src/           @backend-team @senior-backend-engineers
src/backend/tests/         @backend-team @senior-backend-engineers

# Machine learning components
# Requires ML team, data scientists and senior ML engineer review
src/backend/src/ml/                @ml-team @data-scientists @senior-ml-engineers
src/backend/src/models/risk.py     @ml-team @data-scientists @senior-ml-engineers
src/backend/src/predictive/        @ml-team @data-scientists @senior-ml-engineers
src/backend/src/features/          @ml-team @data-scientists @senior-ml-engineers

# Frontend application
# Requires frontend team and senior frontend engineer review
src/web/        @frontend-team @senior-frontend-engineers
src/web/src/    @frontend-team @senior-frontend-engineers
src/web/tests/  @frontend-team @senior-frontend-engineers

# Security-critical components
# Requires mandatory security team review
src/backend/src/config/security.py     @security-team @senior-security-engineers @backend-team
src/backend/src/core/security.py       @security-team @senior-security-engineers @backend-team
src/backend/src/api/security.py        @security-team @senior-security-engineers @backend-team
src/backend/src/auth/                  @security-team @senior-security-engineers @backend-team
src/backend/src/integrations/security/ @security-team @senior-security-engineers @backend-team

# Infrastructure and deployment
# Requires DevOps and platform engineer review
infrastructure/           @devops-team @platform-engineers @senior-infrastructure-engineers
deployment/              @devops-team @platform-engineers @senior-infrastructure-engineers
docker/                  @devops-team @platform-engineers
kubernetes/             @devops-team @platform-engineers @senior-infrastructure-engineers

# CI/CD workflows
# Requires DevOps and security team review
.github/workflows/       @devops-team @ci-cd-engineers @security-team
.github/actions/        @devops-team @ci-cd-engineers @security-team

# Test suites
# Requires QA and test automation engineer review
src/test/              @qa-team @test-automation-engineers @senior-qa-engineers
src/backend/tests/     @qa-team @test-automation-engineers @backend-team

# Third-party integrations
# Requires integration team and security review
src/backend/src/integrations/        @integration-team @backend-team @security-team
src/backend/src/connectors/         @integration-team @backend-team @security-team

# API endpoints
# Requires API team and senior engineer review
src/backend/src/api/        @api-team @backend-team @senior-api-engineers
src/backend/src/routes/    @api-team @backend-team @senior-api-engineers

# Documentation
# Requires technical writer and relevant team review
docs/                    @tech-writers @project-leads
*.md                    @tech-writers @project-leads

# Build and dependency files
# Requires DevOps and security review
pyproject.toml          @devops-team @security-team @backend-team
poetry.lock            @devops-team @security-team @backend-team
package.json           @devops-team @security-team @frontend-team
yarn.lock              @devops-team @security-team @frontend-team

# Security and compliance files
# Requires security team review
SECURITY.md            @security-team @project-leads
security/              @security-team @senior-security-engineers
compliance/           @security-team @compliance-team
