Repository venturix/decisoniq-v6pyvf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @senior-backend-engineers, @ml-team, @data-scientists, @senior-ml-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @senior-security-engineers, @devops-team, @platform-engineers, @senior-infrastructure-engineers, @ci-cd-engineers, @qa-team, @test-automation-engineers, @senior-qa-engineers, @integration-team, @api-team, @senior-api-engineers, @tech-writers, @compliance-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for the Customer Success AI Platform
# Version: v1
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings/about-code-owners

# Default owners for everything in the repo
# Requires project lead review for unspecified files
*       @project-leads

# Backend service ownership
# Requires backend team and senior engineer review
src/backend/                @backend-team @senior-backend-engineers
src/backend/src/           @backend-team @senior-backend-engineers
src/backend/tests/         @backend-team @senior-backend-engineers

# Machine learning components
# Requires ML team, data scientists and senior ML engineer review
src/backend/src/ml/                @ml-team @data-scientists @senior-ml-engineers
src/backend/src/models/risk.py     @ml-team @data-scientists @senior-ml-engineers
src/backend/src/predictive/        @ml-team @data-scientists @senior-ml-engineers
src/backend/src/features/          @ml-team @data-scientists @senior-ml-engineers

# Frontend application
# Requires frontend team and senior frontend engineer review
src/web/        @frontend-team @senior-frontend-engineers
src/web/src/    @frontend-team @senior-frontend-engineers
src/web/tests/  @frontend-team @senior-frontend-engineers

# Security-critical components
# Requires mandatory security team review
src/backend/src/config/security.py     @security-team @senior-security-engineers @backend-team
src/backend/src/core/security.py       @security-team @senior-security-engineers @backend-team
src/backend/src/api/security.py        @security-team @senior-security-engineers @backend-team
src/backend/src/auth/                  @security-team @senior-security-engineers @backend-team
src/backend/src/integrations/security/ @security-team @senior-security-engineers @backend-team

# Infrastructure and deployment
# Requires DevOps and platform engineer review
infrastructure/           @devops-team @platform-engineers @senior-infrastructure-engineers
deployment/              @devops-team @platform-engineers @senior-infrastructure-engineers
docker/                  @devops-team @platform-engineers
kubernetes/             @devops-team @platform-engineers @senior-infrastructure-engineers

# CI/CD workflows
# Requires DevOps and security team review
.github/workflows/       @devops-team @ci-cd-engineers @security-team
.github/actions/        @devops-team @ci-cd-engineers @security-team

# Test suites
# Requires QA and test automation engineer review
src/test/              @qa-team @test-automation-engineers @senior-qa-engineers
src/backend/tests/     @qa-team @test-automation-engineers @backend-team

# Third-party integrations
# Requires integration team and security review
src/backend/src/integrations/        @integration-team @backend-team @security-team
src/backend/src/connectors/         @integration-team @backend-team @security-team

# API endpoints
# Requires API team and senior engineer review
src/backend/src/api/        @api-team @backend-team @senior-api-engineers
src/backend/src/routes/    @api-team @backend-team @senior-api-engineers

# Documentation
# Requires technical writer and relevant team review
docs/                    @tech-writers @project-leads
*.md                    @tech-writers @project-leads

# Build and dependency files
# Requires DevOps and security review
pyproject.toml          @devops-team @security-team @backend-team
poetry.lock            @devops-team @security-team @backend-team
package.json           @devops-team @security-team @frontend-team
yarn.lock              @devops-team @security-team @frontend-team

# Security and compliance files
# Requires security team review
SECURITY.md            @security-team @project-leads
security/              @security-team @senior-security-engineers
compliance/           @security-team @compliance-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/error_handlers.py
  src/backend/src/api/error_handlers.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/middleware.py
  src/backend/src/api/middleware.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/security.py
  src/backend/src/api/security.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/server.py
  src/backend/src/api/server.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/__init__.py
  src/backend/src/api/routes/__init__.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/auth.py
  src/backend/src/api/routes/auth.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/customers.py
  src/backend/src/api/routes/customers.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/health.py
  src/backend/src/api/routes/health.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/integrations.py
  src/backend/src/api/routes/integrations.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/metrics.py
  src/backend/src/api/routes/metrics.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/ml.py
  src/backend/src/api/routes/ml.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/playbooks.py
  src/backend/src/api/routes/playbooks.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/risk.py
  src/backend/src/api/routes/risk.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/tasks.py
  src/backend/src/api/routes/tasks.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/routes/users.py
  src/backend/src/api/routes/users.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/config/__init__.py
  src/backend/src/config/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/config/aws.py
  src/backend/src/config/aws.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/config/cache.py
  src/backend/src/config/cache.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/config/database.py
  src/backend/src/config/database.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/config/integrations.py
  src/backend/src/config/integrations.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/config/logging.py
  src/backend/src/config/logging.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/config/ml.py
  src/backend/src/config/ml.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/config/security.py
  src/backend/src/config/security.py
Owners: @security-team, @senior-security-engineers, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/config/settings.py
  src/backend/src/config/settings.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/core/__init__.py
  src/backend/src/core/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/core/auth.py
  src/backend/src/core/auth.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/core/cache.py
  src/backend/src/core/cache.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/core/events.py
  src/backend/src/core/events.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/core/exceptions.py
  src/backend/src/core/exceptions.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/core/logging.py
  src/backend/src/core/logging.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/core/security.py
  src/backend/src/core/security.py
Owners: @security-team, @senior-security-engineers, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/core/telemetry.py
  src/backend/src/core/telemetry.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/core/utils.py
  src/backend/src/core/utils.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/__init__.py
  src/backend/src/db/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/base.py
  src/backend/src/db/base.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/session.py
  src/backend/src/db/session.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/migrations/__init__.py
  src/backend/src/db/migrations/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/migrations/env.py
  src/backend/src/db/migrations/env.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/migrations/script.py.mako
  src/backend/src/db/migrations/script.py.mako
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/migrations/versions/.gitkeep
  src/backend/src/db/migrations/versions/.gitkeep
Owners: @backend-team, @senior-backend-engineers
