Repository venturix/decisoniq-v6pyvf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @senior-backend-engineers, @ml-team, @data-scientists, @senior-ml-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @senior-security-engineers, @devops-team, @platform-engineers, @senior-infrastructure-engineers, @ci-cd-engineers, @qa-team, @test-automation-engineers, @senior-qa-engineers, @integration-team, @api-team, @senior-api-engineers, @tech-writers, @compliance-team

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for the Customer Success AI Platform
# Version: v1
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings/about-code-owners

# Default owners for everything in the repo
# Requires project lead review for unspecified files
*       @project-leads

# Backend service ownership
# Requires backend team and senior engineer review
src/backend/                @backend-team @senior-backend-engineers
src/backend/src/           @backend-team @senior-backend-engineers
src/backend/tests/         @backend-team @senior-backend-engineers

# Machine learning components
# Requires ML team, data scientists and senior ML engineer review
src/backend/src/ml/                @ml-team @data-scientists @senior-ml-engineers
src/backend/src/models/risk.py     @ml-team @data-scientists @senior-ml-engineers
src/backend/src/predictive/        @ml-team @data-scientists @senior-ml-engineers
src/backend/src/features/          @ml-team @data-scientists @senior-ml-engineers

# Frontend application
# Requires frontend team and senior frontend engineer review
src/web/        @frontend-team @senior-frontend-engineers
src/web/src/    @frontend-team @senior-frontend-engineers
src/web/tests/  @frontend-team @senior-frontend-engineers

# Security-critical components
# Requires mandatory security team review
src/backend/src/config/security.py     @security-team @senior-security-engineers @backend-team
src/backend/src/core/security.py       @security-team @senior-security-engineers @backend-team
src/backend/src/api/security.py        @security-team @senior-security-engineers @backend-team
src/backend/src/auth/                  @security-team @senior-security-engineers @backend-team
src/backend/src/integrations/security/ @security-team @senior-security-engineers @backend-team

# Infrastructure and deployment
# Requires DevOps and platform engineer review
infrastructure/           @devops-team @platform-engineers @senior-infrastructure-engineers
deployment/              @devops-team @platform-engineers @senior-infrastructure-engineers
docker/                  @devops-team @platform-engineers
kubernetes/             @devops-team @platform-engineers @senior-infrastructure-engineers

# CI/CD workflows
# Requires DevOps and security team review
.github/workflows/       @devops-team @ci-cd-engineers @security-team
.github/actions/        @devops-team @ci-cd-engineers @security-team

# Test suites
# Requires QA and test automation engineer review
src/test/              @qa-team @test-automation-engineers @senior-qa-engineers
src/backend/tests/     @qa-team @test-automation-engineers @backend-team

# Third-party integrations
# Requires integration team and security review
src/backend/src/integrations/        @integration-team @backend-team @security-team
src/backend/src/connectors/         @integration-team @backend-team @security-team

# API endpoints
# Requires API team and senior engineer review
src/backend/src/api/        @api-team @backend-team @senior-api-engineers
src/backend/src/routes/    @api-team @backend-team @senior-api-engineers

# Documentation
# Requires technical writer and relevant team review
docs/                    @tech-writers @project-leads
*.md                    @tech-writers @project-leads

# Build and dependency files
# Requires DevOps and security review
pyproject.toml          @devops-team @security-team @backend-team
poetry.lock            @devops-team @security-team @backend-team
package.json           @devops-team @security-team @frontend-team
yarn.lock              @devops-team @security-team @frontend-team

# Security and compliance files
# Requires security team review
SECURITY.md            @security-team @project-leads
security/              @security-team @senior-security-engineers
compliance/           @security-team @compliance-team

Add public-samples/decisoniq-v6pyvf/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/.github/ISSUE_TEMPLATE/security_issue.md
  .github/ISSUE_TEMPLATE/security_issue.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/.github/workflows/backend-cd.yml
  .github/workflows/backend-cd.yml
Owners: @devops-team, @ci-cd-engineers, @security-team

Add public-samples/decisoniq-v6pyvf/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @ci-cd-engineers, @security-team

Add public-samples/decisoniq-v6pyvf/.github/workflows/dependency-check.yml
  .github/workflows/dependency-check.yml
Owners: @devops-team, @ci-cd-engineers, @security-team

Add public-samples/decisoniq-v6pyvf/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team, @ci-cd-engineers, @security-team

Add public-samples/decisoniq-v6pyvf/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @ci-cd-engineers, @security-team

Add public-samples/decisoniq-v6pyvf/.github/workflows/test-ci.yml
  .github/workflows/test-ci.yml
Owners: @devops-team, @ci-cd-engineers, @security-team

Add public-samples/decisoniq-v6pyvf/.github/workflows/web-cd.yml
  .github/workflows/web-cd.yml
Owners: @devops-team, @ci-cd-engineers, @security-team

Add public-samples/decisoniq-v6pyvf/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team, @ci-cd-engineers, @security-team

Add public-samples/decisoniq-v6pyvf/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/infrastructure/docker/monitoring/docker-compose.yml
  infrastructure/docker/monitoring/docker-compose.yml
Owners: @devops-team, @platform-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/docker/monitoring/grafana/dashboards.yml
  infrastructure/docker/monitoring/grafana/dashboards.yml
Owners: @devops-team, @platform-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/docker/monitoring/grafana/datasources.yml
  infrastructure/docker/monitoring/grafana/datasources.yml
Owners: @devops-team, @platform-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/docker/monitoring/grafana/provisioning.yml
  infrastructure/docker/monitoring/grafana/provisioning.yml
Owners: @devops-team, @platform-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/docker/monitoring/prometheus/prometheus.yml
  infrastructure/docker/monitoring/prometheus/prometheus.yml
Owners: @devops-team, @platform-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/base/backend.yaml
  infrastructure/k8s/base/backend.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/base/monitoring.yaml
  infrastructure/k8s/base/monitoring.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/base/namespace.yaml
  infrastructure/k8s/base/namespace.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/base/redis.yaml
  infrastructure/k8s/base/redis.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/base/web.yaml
  infrastructure/k8s/base/web.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/overlays/production/backend-config.yaml
  infrastructure/k8s/overlays/production/backend-config.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/overlays/production/kustomization.yaml
  infrastructure/k8s/overlays/production/kustomization.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/overlays/production/web-config.yaml
  infrastructure/k8s/overlays/production/web-config.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/overlays/staging/backend-config.yaml
  infrastructure/k8s/overlays/staging/backend-config.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/overlays/staging/kustomization.yaml
  infrastructure/k8s/overlays/staging/kustomization.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/k8s/overlays/staging/web-config.yaml
  infrastructure/k8s/overlays/staging/web-config.yaml
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/acm.tf
  infrastructure/terraform/aws/acm.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/alarms.tf
  infrastructure/terraform/aws/alarms.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/backend.tf
  infrastructure/terraform/aws/backend.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/backup.tf
  infrastructure/terraform/aws/backup.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/ecs.tf
  infrastructure/terraform/aws/ecs.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/iam.tf
  infrastructure/terraform/aws/iam.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers
