Repository venturix/decisoniq-v6pyvf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @senior-backend-engineers, @ml-team, @data-scientists, @senior-ml-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @senior-security-engineers, @devops-team, @platform-engineers, @senior-infrastructure-engineers, @ci-cd-engineers, @qa-team, @test-automation-engineers, @senior-qa-engineers, @integration-team, @api-team, @senior-api-engineers, @tech-writers, @compliance-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/repositories/__init__.py
  src/backend/src/db/repositories/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/repositories/customers.py
  src/backend/src/db/repositories/customers.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/repositories/playbooks.py
  src/backend/src/db/repositories/playbooks.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/repositories/risk.py
  src/backend/src/db/repositories/risk.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/repositories/tasks.py
  src/backend/src/db/repositories/tasks.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/db/repositories/users.py
  src/backend/src/db/repositories/users.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/__init__.py
  src/backend/src/integrations/__init__.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/aws/__init__.py
  src/backend/src/integrations/aws/__init__.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/aws/s3.py
  src/backend/src/integrations/aws/s3.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/aws/sagemaker.py
  src/backend/src/integrations/aws/sagemaker.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/blitzy/__init__.py
  src/backend/src/integrations/blitzy/__init__.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/blitzy/auth.py
  src/backend/src/integrations/blitzy/auth.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/blitzy/tables.py
  src/backend/src/integrations/blitzy/tables.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/calendar/__init__.py
  src/backend/src/integrations/calendar/__init__.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/calendar/google.py
  src/backend/src/integrations/calendar/google.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/crm/__init__.py
  src/backend/src/integrations/crm/__init__.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/crm/salesforce.py
  src/backend/src/integrations/crm/salesforce.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/payment/__init__.py
  src/backend/src/integrations/payment/__init__.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/integrations/payment/stripe.py
  src/backend/src/integrations/payment/stripe.py
Owners: @integration-team, @backend-team, @security-team

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/__init__.py
  src/backend/src/ml/__init__.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/feature_store.py
  src/backend/src/ml/feature_store.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/pipeline.py
  src/backend/src/ml/pipeline.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/predictors.py
  src/backend/src/ml/predictors.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/training.py
  src/backend/src/ml/training.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/models/__init__.py
  src/backend/src/ml/models/__init__.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/models/churn.py
  src/backend/src/ml/models/churn.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/models/expansion.py
  src/backend/src/ml/models/expansion.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/models/health.py
  src/backend/src/ml/models/health.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/ml/models/risk.py
  src/backend/src/ml/models/risk.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/models/__init__.py
  src/backend/src/models/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/models/auth.py
  src/backend/src/models/auth.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/models/base.py
  src/backend/src/models/base.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/models/customer.py
  src/backend/src/models/customer.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/models/metrics.py
  src/backend/src/models/metrics.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/models/playbook.py
  src/backend/src/models/playbook.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/models/risk.py
  src/backend/src/models/risk.py
Owners: @ml-team, @data-scientists, @senior-ml-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/models/task.py
  src/backend/src/models/task.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/models/user.py
  src/backend/src/models/user.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/schemas/__init__.py
  src/backend/src/schemas/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/schemas/auth.py
  src/backend/src/schemas/auth.py
Owners: @backend-team, @senior-backend-engineers

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for the Customer Success AI Platform
# Version: v1
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings/about-code-owners

# Default owners for everything in the repo
# Requires project lead review for unspecified files
*       @project-leads

# Backend service ownership
# Requires backend team and senior engineer review
src/backend/                @backend-team @senior-backend-engineers
src/backend/src/           @backend-team @senior-backend-engineers
src/backend/tests/         @backend-team @senior-backend-engineers

# Machine learning components
# Requires ML team, data scientists and senior ML engineer review
src/backend/src/ml/                @ml-team @data-scientists @senior-ml-engineers
src/backend/src/models/risk.py     @ml-team @data-scientists @senior-ml-engineers
src/backend/src/predictive/        @ml-team @data-scientists @senior-ml-engineers
src/backend/src/features/          @ml-team @data-scientists @senior-ml-engineers

# Frontend application
# Requires frontend team and senior frontend engineer review
src/web/        @frontend-team @senior-frontend-engineers
src/web/src/    @frontend-team @senior-frontend-engineers
src/web/tests/  @frontend-team @senior-frontend-engineers

# Security-critical components
# Requires mandatory security team review
src/backend/src/config/security.py     @security-team @senior-security-engineers @backend-team
src/backend/src/core/security.py       @security-team @senior-security-engineers @backend-team
src/backend/src/api/security.py        @security-team @senior-security-engineers @backend-team
src/backend/src/auth/                  @security-team @senior-security-engineers @backend-team
src/backend/src/integrations/security/ @security-team @senior-security-engineers @backend-team

# Infrastructure and deployment
# Requires DevOps and platform engineer review
infrastructure/           @devops-team @platform-engineers @senior-infrastructure-engineers
deployment/              @devops-team @platform-engineers @senior-infrastructure-engineers
docker/                  @devops-team @platform-engineers
kubernetes/             @devops-team @platform-engineers @senior-infrastructure-engineers

# CI/CD workflows
# Requires DevOps and security team review
.github/workflows/       @devops-team @ci-cd-engineers @security-team
.github/actions/        @devops-team @ci-cd-engineers @security-team

# Test suites
# Requires QA and test automation engineer review
src/test/              @qa-team @test-automation-engineers @senior-qa-engineers
src/backend/tests/     @qa-team @test-automation-engineers @backend-team

# Third-party integrations
# Requires integration team and security review
src/backend/src/integrations/        @integration-team @backend-team @security-team
src/backend/src/connectors/         @integration-team @backend-team @security-team

# API endpoints
# Requires API team and senior engineer review
src/backend/src/api/        @api-team @backend-team @senior-api-engineers
src/backend/src/routes/    @api-team @backend-team @senior-api-engineers

# Documentation
# Requires technical writer and relevant team review
docs/                    @tech-writers @project-leads
*.md                    @tech-writers @project-leads

# Build and dependency files
# Requires DevOps and security review
pyproject.toml          @devops-team @security-team @backend-team
poetry.lock            @devops-team @security-team @backend-team
package.json           @devops-team @security-team @frontend-team
yarn.lock              @devops-team @security-team @frontend-team

# Security and compliance files
# Requires security team review
SECURITY.md            @security-team @project-leads
security/              @security-team @senior-security-engineers
compliance/           @security-team @compliance-team
