Repository venturix/decisoniq-v6pyvf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @senior-backend-engineers, @ml-team, @data-scientists, @senior-ml-engineers, @frontend-team, @senior-frontend-engineers, @security-team, @senior-security-engineers, @devops-team, @platform-engineers, @senior-infrastructure-engineers, @ci-cd-engineers, @qa-team, @test-automation-engineers, @senior-qa-engineers, @integration-team, @api-team, @senior-api-engineers, @tech-writers, @compliance-team

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/monitoring.tf
  infrastructure/terraform/aws/monitoring.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/sagemaker.tf
  infrastructure/terraform/aws/sagemaker.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/security-groups.tf
  infrastructure/terraform/aws/security-groups.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/environments/production/terraform.tfvars
  infrastructure/terraform/environments/production/terraform.tfvars
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/environments/production/variables.tf
  infrastructure/terraform/environments/production/variables.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/environments/staging/variables.tf
  infrastructure/terraform/environments/staging/variables.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/modules/ecs-service/main.tf
  infrastructure/terraform/modules/ecs-service/main.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/modules/ecs-service/outputs.tf
  infrastructure/terraform/modules/ecs-service/outputs.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/modules/ecs-service/variables.tf
  infrastructure/terraform/modules/ecs-service/variables.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team, @platform-engineers, @senior-infrastructure-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/README.md
  src/backend/README.md
Owners: @tech-writers, @project-leads

Add public-samples/decisoniq-v6pyvf/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @devops-team, @security-team, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @devops-team, @security-team, @backend-team

Add public-samples/decisoniq-v6pyvf/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/setup.py
  src/backend/setup.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/__init__.py
  src/backend/src/__init__.py
Owners: @backend-team, @senior-backend-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/__init__.py
  src/backend/src/api/__init__.py
Owners: @api-team, @backend-team, @senior-api-engineers

Add public-samples/decisoniq-v6pyvf/src/backend/src/api/dependencies.py
  src/backend/src/api/dependencies.py
Owners: @api-team, @backend-team, @senior-api-engineers

.github/CODEOWNERS:

# This file defines code ownership and required reviewers for the Customer Success AI Platform
# Version: v1
# Format: pattern  owner1 owner2 ...
# See: https://docs.github.com/en/repositories/managing-your-repository-settings/about-code-owners

# Default owners for everything in the repo
# Requires project lead review for unspecified files
*       @project-leads

# Backend service ownership
# Requires backend team and senior engineer review
src/backend/                @backend-team @senior-backend-engineers
src/backend/src/           @backend-team @senior-backend-engineers
src/backend/tests/         @backend-team @senior-backend-engineers

# Machine learning components
# Requires ML team, data scientists and senior ML engineer review
src/backend/src/ml/                @ml-team @data-scientists @senior-ml-engineers
src/backend/src/models/risk.py     @ml-team @data-scientists @senior-ml-engineers
src/backend/src/predictive/        @ml-team @data-scientists @senior-ml-engineers
src/backend/src/features/          @ml-team @data-scientists @senior-ml-engineers

# Frontend application
# Requires frontend team and senior frontend engineer review
src/web/        @frontend-team @senior-frontend-engineers
src/web/src/    @frontend-team @senior-frontend-engineers
src/web/tests/  @frontend-team @senior-frontend-engineers

# Security-critical components
# Requires mandatory security team review
src/backend/src/config/security.py     @security-team @senior-security-engineers @backend-team
src/backend/src/core/security.py       @security-team @senior-security-engineers @backend-team
src/backend/src/api/security.py        @security-team @senior-security-engineers @backend-team
src/backend/src/auth/                  @security-team @senior-security-engineers @backend-team
src/backend/src/integrations/security/ @security-team @senior-security-engineers @backend-team

# Infrastructure and deployment
# Requires DevOps and platform engineer review
infrastructure/           @devops-team @platform-engineers @senior-infrastructure-engineers
deployment/              @devops-team @platform-engineers @senior-infrastructure-engineers
docker/                  @devops-team @platform-engineers
kubernetes/             @devops-team @platform-engineers @senior-infrastructure-engineers

# CI/CD workflows
# Requires DevOps and security team review
.github/workflows/       @devops-team @ci-cd-engineers @security-team
.github/actions/        @devops-team @ci-cd-engineers @security-team

# Test suites
# Requires QA and test automation engineer review
src/test/              @qa-team @test-automation-engineers @senior-qa-engineers
src/backend/tests/     @qa-team @test-automation-engineers @backend-team

# Third-party integrations
# Requires integration team and security review
src/backend/src/integrations/        @integration-team @backend-team @security-team
src/backend/src/connectors/         @integration-team @backend-team @security-team

# API endpoints
# Requires API team and senior engineer review
src/backend/src/api/        @api-team @backend-team @senior-api-engineers
src/backend/src/routes/    @api-team @backend-team @senior-api-engineers

# Documentation
# Requires technical writer and relevant team review
docs/                    @tech-writers @project-leads
*.md                    @tech-writers @project-leads

# Build and dependency files
# Requires DevOps and security review
pyproject.toml          @devops-team @security-team @backend-team
poetry.lock            @devops-team @security-team @backend-team
package.json           @devops-team @security-team @frontend-team
yarn.lock              @devops-team @security-team @frontend-team

# Security and compliance files
# Requires security team review
SECURITY.md            @security-team @project-leads
security/              @security-team @senior-security-engineers
compliance/           @security-team @compliance-team
